.edit-note-form {
    width: 400px;
}

.edit-note-form ul {
    list-style: none;
}

.edit-note-form__add-todo__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.edit-note-form__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}