.edit-todo-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-todo-form__todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #469597;
}

.edit-todo-form__edit-todo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-todo-form__edit-todo h4 {
    font-weight: normal;
}