.edit_form {
    width: 400px;
}

.edit_form ul {
    list-style: none;
}

.add_todo_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.note_btn_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}